body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #FEFEFE;
    text-align: center;
    scroll-behavior: smooth;
}

.container {
    height: 103vh;
    caret-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;  
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    font-weight: normal;
}

.subtitle {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.top {
    background: linear-gradient(180deg, rgba(36,36,36,1) 85%, rgba(52,52,52,1) 99%, rgb(140, 206, 241) 100%);
}

.middle {
    background: linear-gradient(180deg, rgb(140, 206, 241) 99%, rgb(240, 97, 36) 100%);
}

.bottom {
    background: rgb(240, 97, 36);
}

a {
    color: #ffaf8c;
    text-decoration: none;
}

.island {
    width: 700px;
    margin: 3rem auto;
    display: block;
}

.separator {
    border-top: 7px dotted #FEFEFE;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 60px;
}