body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Merriweather', serif;
    color: #FEFEFE;

    text-align: center;
}

.top-container, 
.middle-container, 
.bottom-container {
    height: 101vh;

    caret-color: transparent;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;    
}

.top-container {
    background: linear-gradient(180deg, rgba(36,36,36,1) 85%, rgba(52,52,52,1) 99%, rgb(140, 206, 241) 100%);
}

.title {
    margin: 0;  
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    font-weight: normal;
}

.sub-title {
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.astro-island, 
.earth-island, 
.desert-island {
    width: 700px;
    margin: 3rem auto;
    display: block;
}

.separate-line {
    border-top: 7px dotted #FEFEFE;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 60px;
}

.middle-container {
    background: linear-gradient(180deg, rgb(140, 206, 241) 99%, rgb(240, 97, 36) 100%);
}

.bottom-container {
    background: rgb(240, 97, 36);
}